{% load static %}
<html>
    <head>
        <title>
            Our App
        </title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"></head>
    <body>
        <header>
            <nav>
                <div><a href="/">HipsterCode</a></div>
                <div><a href="/">Home</a></div>
                <div><a href="/">Home</a></div>
            </nav>
        </header>
        <h1>the result</h1>
        <div id="root"></div>
    <script type="text/javascript" src="{% static 'js/app.bundle.js' %}"></script></body>
</html>